<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />-->

    <title>{% block title %}Home{% endblock %}</title>
</head>

<body> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='img/Immigr8Logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-nav">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" id="home" href="/">Home</a>
            <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
            {% else %}
            <a class="nav-item nav-link" id="login" href="/login">Login</a>
            <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
            {% endif %}
          </div>
        </div>
      </nav>

    <!--<div id="cornerlogo" class="ribbon">
        <a href="checkbox.html"><img src="Immigr8Logo.png" alt="DKU Immigr 8 logo! If clicked, will link back to homepage." /></a>
    </div>-->

    <!--<span></span>-->


    <h1>Welcome to the homepage!</h1>
    <h3>What item will you check today?</h3>

    <input type="checkbox" id="healthcare" name="healthcare" value="Health">
    <label for="healthcare"><a href="healthcare.html">Apply for Healthcare</a></label><br>
    <input type="checkbox" id="arrival" name="arrival" value="Plane">
    <label for="arrival"><a href="arrive.html">Arrive in China</a></label><br>
    <input type="checkbox" id="accomodation" name="accomodation" value="Form">
    <label for="accomodation"><a href="accomodation.html">24hr Accomodation Form</a></label><br>
    <input type="checkbox" id="phonenumber" name="phonenumber" value="Phone">
    <label for="phonenumber"><a href="phonenumber.html">Obtain Chinese Phone Number</a></label><br>

    <input type="checkbox" id="bankacc" name="bankacc" value="Bank">
    <label for="bankacc"><a href="bankaccount.html">Obtain Chinese Bank Account</a></label><br>
    <input type="checkbox" id="healthcheckup" name="healthcheckup" value="Checkup">
    <label for="healthcheckup"><a href="checkup.html">Go to Health Checkup</a></label><br>
    <input type="checkbox" id="EEB" name="EEB" value="Bureau">
    <label for="EEB"><a href="entryexit.html">Entry & Exit Bureau Appointment</a></label><br>

    <input type="checkbox" id="ResidencePermit" name="ResidencePermit" value="Permit">
    <label for="ResidencePermit">Receive Residence Permit!</label><br>

    <h3><a href="extrainfo.html">Extra Helpful Information</a></h3>

</body>

<h3>Leave a comment:</h3>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes}
    <li class="list-group-item":>{{note.data}}</li>
    {%endfor%}
</ul>
<form method="POST"> 
    <textarea class="form-control" id="comment" name="comment" ></textarea>
    <br></br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

<div style="position: fixed; top: 20px; right: 20px; width: 300px; background-color: #f1f1f1; border: 1px solid #ddd; padding: 10px;">
    <h3 style="text-align: center;">Notifications</h3>
    <p>Sample notification 1</p>
    <p>Sample notification 2</p>
    <p>Sample notification 3</p>
  </div>

</html>
